.home {
  width: 100%;
  height: 100vh;
  background-image: url(../img/sirfrancis.jpg);
  background-position: center top;
  background-size: cover; }

body {
  background-color: #8f8f8f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px; }

#francisNavBar .nav-item {
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 2.5em;
  color: white; }

#francisNavBar .navbar-brand {
  font-family: "Comforter", cursive;
  font-size: 5em;
  color: white; }

.navbar {
  color: white; }

#mobileTitle {
  font-family: "Comforter", cursive; }

#titleSnippet {
  font-family: "IM Fell Great Primer SC", serif;
  color: white;
  height: 1px;
  line-height: 0px; }

.site-footer {
  background-image: linear-gradient(black, white);
  padding: 70px 0; }
