$color-primary: #008300;
$color-secondary: rgb(143, 143, 143);
$header-font: 'IM Fell Great Primer SC', serif;
$header-font2: 'Comforter', cursive;

body {
    background-color: $color-secondary;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-size: 10px;
}

.navbar-title {
    h1 {
        font-family: $header-font2;
        color: white;
    }

    h4 {
        font-family: $header-font;
        color: white;
    }
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.nav-item {
    font-family: $header-font;
    font-size: 200%
}

.head-title {
    font-family: $header-font2;
    color: white;
}

.head-title-text {
    font-family: $header-font;
    color: white;

}