body {
  background-color: #8f8f8f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px; }

#francisNavBar .nav-item {
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 2.5em;
  color: white; }

#francisNavBar .navbar-brand {
  font-family: "Comforter", cursive;
  font-size: 5em;
  color: white; }

.navbar {
  color: white; }

#mobileTitle {
  font-family: "Comforter", cursive; }
